@media (max-width: 991px) {
    .promo {
        min-height: 550px;
        /* .container {
            width: 750px;
            margin: 0 auto;
        } */
        .header {
            &__logo img {
                width: 90%;
            }
            &__official span {
                font-size: 16px;
            }
            &__phone {
                font-size: 16px;
            }
        }
        h1 {
            margin-bottom: 0;
        }
        &__wrapper {
            margin-top: 60px;
        }
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 22px;
        }
        &__icons {
            margin-top: 40px;
        }
    }
    .button {
        &_main {
            margin-top: 40px;
        }
    }
    .advantages {
        padding-top: 50px;
        padding-bottom: 50px;
        min-height: 440px;
        &__icon img {
            margin: 30px auto 30px auto;
        }
        &__icon {
            width: 256px;
            &:nth-child(3) {
                transform: translateY(-1px);
            }
        }
        &__icon span {
            margin-bottom: 20px;
        }
    }
    .title {
        &_left {
            font-size: 31px;
        }
    }
    .consultation {
        min-height: 660px;
        padding: 80px 0 80px 0;
        &__descr {
            padding-top: 55px;
        }
    }
}

@media (max-width: 811px) {
    .advantages {
        &__icon {
            width: 237px;
            &:nth-child(3) {
                transform: translateY(10px);
            }
        }
    }
}

@media (max-width: 767px) {
    .promo {
        min-height: 520px;
        .header {
            &__official span {
                font-size: 13px;
            }
        }
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 20px;
        }
        &__link {
            margin-top: 15px;
            font-size: 14px;
        }
    }
    .button {
        &_main {
            width: 250px;
            height: 40px;
            font-size: 15px;
        }
    }
    .advantages {
        min-height: 880px;
        &__icons {
            display: block;
        }
        &__icon {
            margin: 0 auto;
            width: 350px;
        }
    }
    .consultation {
        min-height: 610px;
        padding: 70px 0 60px 0;
        &__descr {
            text-align: center;
            padding-top: 35px;
        }
    }
    .feed-form {
        margin-top: 36px;
        display: block;
        margin: 16px auto 0 auto;
        /* flex-direction: column;
        justify-content: center; */
        width: 300px;
        input {
            width: 100%;
            height: 50px;
        }
    }
}

@media (max-width: 575px) {
    .promo {
        .header__official span {
            font-size: 10px;
        }
    }
    .title_left {
        font-size: 25px;
    }
    .consultation {
        min-height: 610px;
        padding: 60px 0 60px 0;
        &__descr {
            padding-top: 26px;
        }
    }
}

@media (max-width: 478px) {
    .promo {
        .header__logo {
            display: none;
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 13px;
        }
        &__icons {
            width: 292px;
        }
    }
    .title {
        font-size: 25px;
    }
    .advantages {
        min-height: 970px;
        &__icon {
            width: 270px;
        }
    }
    .title_left {
        font-size: 20px;
    }
    .consultation {
        min-height: 610px;
        padding: 60px 0 60px 0;
        &__descr {
            font-size: 16px;
        }
    }
    .feed-form {
        width: 281px;
    }
}