@import '../base/variables';
* {
    font-family: 'Museo', sans-serif;
}

.container {
    max-width: 950px;
    height: 50px;
    margin: 0 auto;
    margin-top: 2px;
}

.title {
    color: #0d0d0d;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    &_left {
        color: #ffffff;
        font-size: 36px;
        text-align: left;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 0;
    }
}

@import 'promo';
@import 'header';
@import 'buttons';
@import 'advantages';
@import 'consultation';
@import 'forms';
@import 'media';